@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
  --bg-container: #23272a;
  --bg-content: #2c2f33;
  --font-size: 17px;
  --color-default: #f3f1f1;
  --border-default: 1px solid #181818;
  --btn-color: #007bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  list-style: none;
  font-size: var(--font-size);
  color: var(--color-default);
}