
/* ---------- main  */
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-main);
}

/* ---------- container */
.container {
  display: flex;
  gap: 40px;
  height: 450px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--bg-container);
  box-shadow: var(--box-shadow);
  padding: 20px;
  /* overflow: hidden; */
}

/* ---------- user */
.user {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
}

.userForm {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  width: 260px;
}

.userForm input {
  outline: none;
  border: none;
  text-align: center;
  height: 30px;
}

.userForm button {
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--bg-button);
  color: #fff;
  font-size: 17px;
}

/* ---------- */
.todoList {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.header .userDiv {
  display: flex;
  align-items: center;
  gap: 2px;
}

.userDiv span:last-child {
  font-size: 25px;
}

