.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-container);
  gap: 10px;
}

.content {
  background-color: var(--bg-content);
  height: 530px;
  width: 300px;
  border-radius: 15px;
  border: var(--border-default);
  display: flex;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: var(--border-default);
  height: 45px;
  padding: 5px 20px;
}

.header h1 {
  font-size: 25px;
}

/* new task */
.newTask {
  display: flex;
  gap: 5px;
  height: 35px;
  padding: 0 25px;
}

.newTask input {
  width: 90%;
  padding: 5px 0;
  border: none;
  outline: none;
  font-weight: bold;
}

.newTask input::placeholder {
  font-weight: bold;
}

.newTask button {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: var(--btn-color);
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: .1s;
}

.newTask button:active {
  font-size: 20px;
}

/* tasks list */
.taskList {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.taskListUl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskDiv {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskDiv div {
  display: flex;
  gap: 5px;
}

.taskDiv li {
  height: 100%;
  font-weight: bold;
}

.taskDiv .item {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .1s;
}

.taskDiv .item:active {
  font-size: 15px;
}

/* msg */ 
.msg {
  height: 25px;
  text-align: center;
  font-size: 14px;
}


